.revolutionary {
  max-width: 1200px;
  padding: 130px 0 70px;
  width: 100%;
  &__title {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    color: #635C73;
    text-align: center;

  }
&__text{
  margin-top: 35px;
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  color: #323232;
  margin-bottom: 24px;
}
  &__block{
    display: flex;
    align-content: center;
    max-width: 365px;
    max-height: 26px;
    margin: 0 auto;
  }

  &__btn {
    display: flex;
    border: 1px solid #D5D5D5;
    color: #323232;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
  }
  &__name {
    background: linear-gradient(#FCFCFC, #EEEEEF);
    border-right: 1px solid #D5D5D5;
    cursor: pointer;
    padding-right: 6px;
    svg {
    }
  }
  &__number {
    padding: 6px;
  }
}







