@import "reset";
@import "revolutionary";


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@700&family=Roboto&display=swap');
$fontFamily:"Roboto";

$minWith:320px;
$maxWith:1200px;
$maxWithContainer:1170px;
$md1: $maxWithContainer + 12;
$md2:767.98;
$md3:991.98;
$md4:479.98;
