body{
    background-image: url("martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash 1.png");
}
.container{
    background-image: url("martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash 1.png");}
.container-menu{
    display: flex;
    justify-content: space-between;
}
.navbar-logo{

}
.buttons-menu li{
    display: inline-block;
    list-style: none;
}
.buttons-menu{
    padding: 25px;
}
.button-white{
    padding:16px 30px 16px 30px;
    border-radius:10px;
    margin-right: 10px;
    background-color: transparent;
    border: 4px solid white;
    color: white;
}
.button-white:hover{
    background-color: #68C0AE;
    border: 4px solid #68C0AE;
    color: white;
}
.button-green{
    padding:16px 30px 16px 30px;
    border-radius:10px;
    margin-right: 10px;
    background-color: #68C0AE;
    border: 4px solid #68C0AE;
    color: white;
}
.button-green:hover{
    background-color: white;
    border: 4px solid white;
    color: #68C0AE;
}
.hidden{
    display: none;
}
.pop-up-form{
    display: none;
    position: fixed;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.pop-up-form.active{
    display: block;
}
.pop-up-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.log-in-form{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 16px 50px 16px 50px;
    position: relative;
}
.log-form-title{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    border-bottom: solid 1px darkgrey;
    padding-bottom: 20px;
}
.form_input input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;

}
.pop-up-close{
    position: absolute;
    top:15px;
    right: 15px;
}
/*Назва візиту змінити*/
.name_of_visit{
    display: none;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}