/*first block*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: #FFFFFF;
    text-decoration: none;
    display: inline;
}
.logo-part-1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px 13px;
    background-color: #18CFAB;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}
strong{
    color:#18CFAB;

}
.container{
    width: 1160px;
    margin: 0 auto;
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    position: relative;
}
nav:before{
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #5E5D58 60%;
    position: absolute;
    left:0;
    z-index: -1;
}
.navbar-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar .navbar-nav li{
    display: inline-block;
    list-style: none;
    margin: 49.61px 21.9px;
}
.navbarlink {
    text-decoration:none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.navbarlink:hover{
    color: #18CFAB;
}
.theham{
    height: 1012px;
    background-image: url("/gallery/Layer 1 5.png");


}
.theme {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 264px;
}
.title{
    font-weight: 700;
    font-size: 78px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22px;
}
.subtitle{
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-top:22px;
}
.leftbutton{
    display: inline-block;
    background: #18CFAB;
    padding: 16px;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 134px;
    margin-left: 585px;
}
.rightbutton{
    display: inline-block;
    background: #00CBF6;;
    padding: 16px;
    border: none;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 134px;
    margin-left: 26px;
}
/*second block*/
.squareblocks{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.line-squareblocks{
    display: flex;
    min-width: 100%;
}
.box-li{
    min-width: 25%;
    list-style: none;
}
.darksquare{
    background-color: #1c2a33;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 105px;
}
.lightsquare{
    background-color: #18cfab;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 105px;
}
.text{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.hand{
    padding-top: 85px;
    padding-bottom: 45px;
}
.diamond{
    padding-top: 96px;
    padding-bottom: 56px;
}
.bulb{
    padding-top: 80px;
    padding-bottom: 51px;
}
.gadgets{
    padding-top: 95px;
    padding-bottom: 56px;
}
/*third block*/
.ourservice{

}
.two-line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 69px;
}
.heading{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:#4E4E4E;
    margin-top: 83px;
    margin-bottom: 24px;
    text-align: center;
}
.horizontal-menu{

    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.points{
    list-style: none;
    padding: 34px 17.2px 34px 18.8px;
    background-color: #F8FCFE ;
    border: 1px solid #EDEFEF;
}
.points a{
    text-decoration: none;
    color:#717171 ;
}


.points:active{
    background-color: #18CFAB;
}
.tabs-item{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}
.hidden{
    display: none;
}
.active{
    display: block;
}

.tab-content{


}
.block-item2{
    display: block;
    width: 600px;
    margin-left: 15px;
    font-weight: 300;
    font-size: 13.64px;
    line-height: 24.37px;
}
/*four block*/
.darkblock{
    margin-top: 69px;
    background-image: url("/gallery/Layer 21 1.png");
    box-sizing: content-box;
}
.item1{
    font-weight: 700;
    font-size: 40px;
    line-height: 40.46px;
    text-align: center;
    color: #18CFAB;
    padding-top: 126px;
    padding-bottom: 12.22px;
}
.item2{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    padding-bottom: 62px;
}
.item3{
    display: inline-block;
    background-color: #18CFAB;
    color: #FFFFFF;
    padding:11.59px 16px 10.59px 16px ;
    border: none;
    border-top: 2px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 128px;
}
.button{
    text-align: center;
}
/*fifth block*/
.fifth-block{
    background-color: #E9EDEF;
}
.caption{
    padding-top: 96px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.two-line-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 69px;
}
.menu-section-amazing-work{
    display: flex;
    justify-content: center;
    margin-top: 69px;
}
.item{

    list-style: none;
    padding: 13px 15px;
    border: 1px solid #DADADA;
    color: #4E4E4E;
    font-weight: 400;
    font-size: 14px;
    line-height: 42.04px;
}
.container-with-picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 71px;

}
.picture{
    position: relative;
}
.item.active{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}
.button-load{
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    border: 1px solid  #18CFAB;
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 99px;
}
.none-box{
    position: absolute;
    width: 285px;
    height: 211px;
    text-align: center;
    top: 0;
    display: none;
    background-color: white;

}
.white-cart{
    width: 100%;
    border-top: 6px solid #18cfab;
    margin-bottom: 40px;
}
.two-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.picture:hover .none-box{
    display: block;
    }
.title-news{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 82px;
}
.container-with-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.picture-box{
    position: relative;
    margin: 15px;
}
.data-breaking-news{
    position:absolute;
    right: 0;
    top:0;
    width: 68px;
    height: 70px;
    color:#FFFFFF;
    background-color: #203E38;
    text-align: center;
    padding: 15px;}
.data-breaking-news:hover{
    background-color: #18CFAB;
    cursor: pointer;
}

.title-breaking-news{
    font-size: 17.99px;
    line-height: 38.94px;
    font-weight: 700;
    color:#717171;
}
.title-breaking-news:hover{
    color: #18CFAB;
    cursor: pointer;
}
.subtitle-breaking-news{
    font-size: 13.99px;
    line-height: 38.94px;
    font-weight: 300;
    color: #777777;
}
.block-seven{
    margin-top: 128px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/gallery/Layer 333.png");
}
.title-of-the-seventh-block{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color:#FFFFFF;
    padding-top: 98px;
}
.quotes{
    text-align: center;
    color: #18CFAB;
    font-size: 120px;
    font-weight: 900;
    line-height: 120px;
}
.contener{
    text-align: center;
    color:#BBBBBB;
    margin: 50px 100px;
    list-style-type: none;
    display: none;
}
.short-description{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;

}
.name{
    color: #18CFAB;
    text-transform: uppercase;
    margin-top: 37px;
}
.foto{
    margin-top: 50px;
}

.slider-items{
    display: flex;
    justify-content: center;
    gap:35px;
    list-style: none;
}
.slider{

    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0 65px;
    position: relative;
    margin-bottom: 104px;
}
.itc-slider__btn{
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.itc-slider__btn:after{
    content: "";
    display: block;
    width:10px ;
    height:10px ;
    border: 2px solid #BBBBBB;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
}
.itc-slider__btn_prev{
    left: 0;
}
.itc-slider__btn_prev:after{
    top:7px;
    left: 10px;
    transform: rotate(45deg);
}
.itc-slider__btn_next{
    right: 0;
}
.itc-slider__btn_next:after{
    top:8px;
    right: 10px;
    transform: rotate(-135deg);
}
.slider-item.active{
   position: relative;
    bottom: 20px;
}
.contener.active{
    display: block;
}
.footer {
    background-color: #22353f;
    display: flex;
    justify-content: center;
}
.footer-text {
    margin-top: 48px;
    margin-bottom: 48px;
}

.footer-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #aeaeae;
}

.footer-theham {
    color: #18cfab;
}
